@mixin btn {
  margin: 5px;
  color: $color-secundario;
  font-size: 18px;
  background-color: $color-principal;
  display: flex;
  border-top: 2px solid $color-alternativo;
  border-left: 2px solid $color-alternativo;
  border-radius: 20%;
  box-shadow: 1px 1px 2px $color-secundario;
  transition: 0.5s;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  &:hover {
    box-shadow: 5px 5px 30px $color-secundario;
    border-top: 4px solid $color-alternativo;
    border-left: 4px solid $color-alternativo;
    font-size: 20px;
    text-shadow: 5px 5px 30px $color-alternativo;
  }
}
@mixin h1 {
  filter: drop-shadow(5px 5px 30px $color-secundario);
      font-size: 50px;
      margin-top: 5px;
      animation-name: logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      width: auto;
      height: auto;
      display: inline;
      text-align: center;
      color: $color-principal;
}
