$color-principal: rgb(20, 20, 20);
$color-secundario: rgb(13, 255, 0);
$color-alternativo: rgb(255, 255, 255);
$shadow: (
linkedin: rgb(5, 234, 255),
whatsapp: $color-secundario,
github: rgb(5, 138, 255),
);