@import "variables";
@import "keyframe";
@import "mixin";
@import "map";

body {
  background: $color-principal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    background: $color-principal;
    color: $color-principal;
    display: flex;
    flex-wrap: wrap;
    width: map-get($map: $ancho, $key: "total");
    height: 80px;
    .logo {
      height: 70px;
      flex-wrap: wrap;
      animation-name: logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
    .encabezado {
      filter: drop-shadow(5px 5px 30px $color-secundario);
      font-size: 50px;
      margin-top: 5px;
      animation-name: logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      width: map-get($map: $ancho, $key: "auto");
      height: auto;
      display: inline;
      text-align: center;
    }
    .menu {
      right: 0px;
      position: absolute;
      justify-content: space-between;
    }
    .navbar-brand {
      margin: 5px;
      color: $color-secundario;
      font-size: 18px;
      background-color: $color-principal;
    }
    .navbar-toggler-icon {
      width: 30px;
      height: 30px;
      margin: 5px;
      color: $color-principal;
      font-size: 18px;
      background-color: $color-secundario;
      display: flex;
      border-radius: 20%;
      box-shadow: 1px 1px 2px $color-alternativo;
      transition: 0.5s;
      text-align: center;
    }

    .active {
      background-color: $color-secundario;
      padding: 10px;
      color: $color-alternativo;
      font-size: 18px;
      border-radius: 20px;
      text-decoration: none;
      display: block;
      box-shadow: 1px 1px 2px $color-alternativo;
      transition: 0.5s;
      &:hover {
        box-shadow: 5px 5px 30px $color-alternativo;
      }
    }

    .nav-item {
      display: inline-block;
      margin-inline: 5px;
    }
    .btn {
      @include btn;
    }
  }
  section {
    background: $color-principal;
    height: auto;
    p {
      font-size: 20px;
      text-align: center;
      margin: 10px;
      color: $color-secundario;
    }
    .img-presentacion {
      width: 170px;
      &:hover {
        filter: drop-shadow(5px 5px 15px $color-secundario);
      }
    }
    div {
      flex-wrap: wrap;
      height: auto;
    }
    h1 {
      @include h1;
    }
    h2 {
      display: inline;
      filter: drop-shadow(5px 5px 30px $color-secundario);
      font-size: 30px;
      margin-top: 15px;
      animation-name: logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      width: map-get($map: $ancho, $key: "total");
      text-align: center;
      color: $color-secundario;
    }
    .contenido {
      margin-top: 100px;
    }
  }
  .iniciarSesion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: $color-secundario;
    height: 550px;
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
    .btn {
      @include btn;
    }

    h1 {
      @include h1;
    }
    .input {
      background-color: $color-principal;
      color:$color-secundario;
      border-radius: 15%;
      height: 20px;
      &:focus {
        filter: drop-shadow(5px 5px 15px $color-secundario);
      }
    }
  }
  .content {
    width: map-get($map: $ancho, $key: "total");
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: 0px;
    align-content: center;
    justify-content: center;

    .presentacion {
      width: map-get($map: $ancho, $key: "500");
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .img-presentacion {
        width: 170px;
      }
      h1 {
        @include h1;
        }
    }
    div {
      display: flex;
      justify-content: center;
      align-content: center;
      width: map-get($map: $ancho, $key: "500");
      margin: auto;
      .contenido {
        margin-top: 100px;
        text-align: center;
      }
    }
  }
  h1 {
    @include h1;
  }
  .certificados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    .img__certificados {
      display: flex;
      flex-direction: column;
      margin: 10px;
      p {
        font-size: 20px;
        text-align: center;
        margin: 10px;
        color: $color-secundario;
      }
      img {
        width: 450px;
        align-items: center;
        &:hover {
          filter: drop-shadow(5px 5px 15px $color-secundario);
        }
      }
    }
  }
  .registro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: $color-secundario;
    width: 150px;
    margin: auto;
    h1 {
      @include h1;
    }
    p {
      font-size: 20px;
      text-align: center;
      margin: 10px;
      color: $color-secundario;
    }
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
    .input {
      background-color: $color-principal;
      color: $color-secundario;
      border-radius: 15%;
      height: 20px;
      &:focus {
        filter: drop-shadow(5px 5px 15px $color-secundario);
      }
    }
    .btn {
      @include btn;
    }
  }
  .secContactos {
    margin-top: auto;
    margin-bottom: auto;
    .gridContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .contactos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px;
        margin: 30px auto 30px auto;
        .contacto {
          width: 100px;
          justify-items: center;
          align-items: center;
          transition: 0.5s;
          &:hover {
            width: 150px;
            filter: drop-shadow(5px 5px 15px $color-secundario);
          }
        }
      }
    }
  }
  footer {
    display: inline;
    width: map-get($map: $ancho, $key: "total");
    align-content: center;
    margin-top: auto;
    .logo {
      height: 70px;
      flex-wrap: wrap;
      animation-name: logo;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
    p {
      font-size: 20px;
      text-align: center;
      margin: 10px;
      color: $color-secundario;
    }
  }
}
